<!--Start Main -->
<div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
    <div class="mucTongQuan">
        <h3>Tổng quan</h3>
    </div>
    <div class="row quanLyHienThiThongTin">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="hienThiThongTin" >
                <h2><i class="fas fa-users"></i>  {{slnd}}</h2>
                <h4>Người đọc</h4>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="hienThiThongTin" >
                <h2><i class="fas fa-user-tie"></i>  {{slnv}}</h2>
                <h4>Nhân viên</h4>
            </div>
        </div>
    </div>
    
    <div class="mucNhanVien">
        <h3>Danh sách thống kê</h3>
    </div>

    <div class=" thTinThongKe">
        <p>Tổng doanh thu:<span>  {{doanhThu}}</span></p>
        <p>Thể loại mượn nhiều nhất: <span>{{maxTitle}}</span></p>
        <p>Top 5 Sách mượn nhiều nhất</p>
        <table class="table bangNhanVien">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Tên sách</th>
                    <th>Tên tác giả</th>
                    <th>Số lần mượn</th>
                </tr>
            </thead>
            <tbody>
                    {{#each bookAlls}}
                <tr>
                    <th>{{stt}}</th>
                    <td>{{tensach}}</td>
                    <td>{{tentacgia}}</td>
                    <td>{{solanmuon}}</td>
                </tr>
                    {{/each}}
            </tbody>
            </table>
    </div>
</div>


<!--End Main -->