    <!--Start Main -->
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
    <div class="mucTongQuan">
        <h3>Danh sách độc giả</h3>
    </div>
    <div class="row quanLyHienThiThongTin">
            <form class="form-inline mx-auto" action="http://localhost:5000/searchDocGia" method="GET">
                <input class="form-control formSearch" name="noidungtimkiem" type="text" placeholder="Nhập nội dung cần tìm" style="padding-right: 60px;">
                <button class="btn btn-outline-success " type="submit" style="margin-left: 37px;">Tìm kiếm</button>
            </form>
    </div>
    
    <table class="table bangNhanVien">
        <thead>
            <tr>
                <th>Số thứ tự</th>
                <th>Họ và tên</th>
                <th>Ngày đăng ký</th>
                <th>Tùy chỉnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each readerAll}}
            <tr>
                <th>{{stt}}</th>
                <td>{{hoten}}</td>
                <td>{{ngaylap}}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chinhSuaReader{{stt}}">Chỉnh sửa</button>
                    <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#xoaReader{{stt}}" >Xóa</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chiTietReader{{stt}}">Chi tiết</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
        <!--Phân trang -->
        <div class="row">
            {{#if hasPagination}}
            <nav aria-label="Page navigation example" class="mx-auto">
                {{{paginate pagination}}}
            </nav>
            {{/if}}
        </div>
</div>
    <!--End Main -->


<!--Chi tiết Reader-->
    {{#each readerAll}}
    <div class="modal fade" id="chiTietReader{{stt}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thông tin Độc giả</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form class="formDkyTV">
                <div class="form-group row">
                    <img id="anh" class="img-thumbnail" src="/uploads{{image}}" alt="" style="width: 200px; height: 200px; overflow: hidden; margin: 0 auto;">  
                </div>  
                <div class="form-group row">
                    <label for="hVTenReader" class="col-3 labelName">Họ và tên</label>
                    <input type="text" class="form-control col-8" name="hVTenReader" id="hVTenReader" placeholder="{{hoten}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="ngaySinhReader" class="col-3 labelName">Ngày sinh</label>
                    <input class="form-control col-8" type="text" id="ngaySinhReader" name="ngaySinhReader" placeholder="{{ngaysinh}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="gTinhReader" class="col-3 labelName">Giới tính</label>
                    <input type="text" class="form-control col-8" name="gTinhReader" id="gTinhReader" placeholder="{{gioitinh}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="sdThoaiReader" class="col-3 labelName">Số điện thoại</label>
                    <input type="text" class="form-control col-8" id="sdThoaiReader" name="sdThoaiReader" placeholder="{{sdt}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="soCMNDReader" class="col-3 labelName">Số CMND</label>
                    <input type="text" class="form-control col-8" id="soCMNDReader" name="soCMNDReader" placeholder="{{cmnd}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="eMailReader" class="col-3 labelName">Email</label>
                    <input type="email" class="form-control col-8" id="eMailReader" name="eMailReader" placeholder="{{email}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="dTocReader" class="col-3 labelName">Dân tộc</label>
                    <input type="text" class="form-control col-8" id="dTocReader" name="dTocReader" placeholder="{{dantoc}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="nguoiLapReader" class="col-3 labelName">Người lập</label>
                    <input type="text" class="form-control col-8" id="nguoiLapReader" name="nguoiLapReader" placeholder="{{nguoilap}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="tienDatCocReader" class="col-3 labelName">Tiền đặt cọc</label>
                    <input type="text" class="form-control col-8" id="tienDatCocReader" name="tienDatCocReader" placeholder="{{sotiendatcoc}}" readonly>
                </div>


                <div class="form-group row">
                    <label for="ngayLapReader" class="col-3 labelName">Ngày lập</label>
                    <input type="email" class="form-control col-8" id="ngayLapReader" name="ngayLapReader" placeholder="{{ngaylap}}" readonly>
                </div>

                <div class="form-group row">
                    <label for="diaChi" class="col-3 labelName">Địa chỉ</label>
                    <textarea class="form-control col-8" id="diaChi" name="diaChi" rows="5" placeholder="{{diachi}}" readonly></textarea>
                </div>

            </form>
        </div>

        </div>
    </div>
    </div>
    {{/each}}
<!--End Chi tiết Reader-->

<!--Chỉnh sửa Thành Viên-->
    {{#each readerAll}}
    <div class="modal fade" id="chinhSuaReader{{stt}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Chỉnh sửa Độc giả</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <form class="formDkyTV" action="http://localhost:5000/editReader" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="{{id}}" name="soIDReader" value="{{id}}">

                <div class="form-group row">
                    <label for="ehVTenReader" class="col-3 labelName">Họ và tên</label>
                    <input type="text" class="form-control col-8" name="ehVTenReader" id="ehVTenReader" value="{{hoten}}">
                </div>

                <div class="form-group row">
                    <label for="engaySinhReader" class="col-3 labelName">Ngày sinh</label>
                    <input class="form-control col-8" type="text" id="engaySinhReader" name="engaySinhReader" value="{{ngaysinh}}">
                </div>

                <div class="form-group row">
                    <label for="egTinhReader" class="col-3 labelName">Giới tính</label>
                    <input type="text" class="form-control col-8" name="egTinhReader" id="egTinhReader" value="{{gioitinh}}">
                </div>

                <div class="form-group row">
                    <label for="esdThoaiReader" class="col-3 labelName">Số điện thoại</label>
                    <input type="text" class="form-control col-8" id="esdThoaiReader" name="esdThoaiReader" value="{{sdt}}">
                </div>

                <div class="form-group row">
                    <label for="esoCMNDReader" class="col-3 labelName">Số CMND</label>
                    <input type="text" class="form-control col-8" id="esoCMNDReader" name="esoCMNDReader" value="{{cmnd}}">
                </div>

                <div class="form-group row">
                    <label for="eeMailReader" class="col-3 labelName">Email</label>
                    <input type="email" class="form-control col-8" id="eeMailReader" name="eeMailReader" value="{{email}}">
                </div>

                <div class="form-group row">
                    <label for="edTocReader" class="col-3 labelName">Dân tộc</label>
                    <input type="text" class="form-control col-8" id="edTocReader" name="edTocReader" value="{{dantoc}}">
                </div>

                <div class="form-group row">
                    <label for="enguoiLapReader" class="col-3 labelName">Người lập</label>
                    <input type="text" class="form-control col-8" id="enguoiLapReader" name="enguoiLapReader" value="{{nguoilap}}">
                </div>

                <div class="form-group row">
                    <label for="etienDatCocReader" class="col-3 labelName">Tiền đặt cọc</label>
                    <input type="text" class="form-control col-8" id="etienDatCocReader" name="etienDatCocReader" value="{{sotiendatcoc}}">
                </div>

                <div class="form-group row">
                    <label for="ediaChiReader" class="col-3 labelName">Địa chỉ</label>
                    <textarea class="form-control col-8" id="ediaChiReader" name="ediaChiReader" rows="5">{{diachi}}</textarea>
                </div>

                <div class="form-group">
                    <label for="anh" class="col-3 labelName">Chọn ảnh</label>
                    <div class="col-8">
                        <img id="anhReader{{id}}" alt="your image" width="100px" height="100px" src="/uploads{{image}}"/>
                        <input type="file"  name='ima' value="{{image}}" onchange="document.getElementById('anhReader{{id}}').src = window.URL.createObjectURL(this.files[0])">
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-primary float-right">Đồng ý</button>
                
            </form>


        </div>

        </div>
    </div>
    </div>
    {{/each}}
<!--End Chỉnh sửa Thành Viên-->


<!--Xóa Thành Viên-->
    {{#each readerAll}}
    <div class="modal fade" id="xoaReader{{stt}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Bạn muốn xóa độc giả này ?</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <form class="formDkyTV" action="http://localhost:5000/removeReader" method="GET">
                <input type="hidden" id="{{id}}" name="soIDDeleteReader" value="{{id}}">
                <button type="submit" class="btn btn-primary float-right">Đồng ý</button>
            </form>
        </div>
        </div>
    </div>
    </div>
    {{/each}}
<!--End Xóa Thành Viên-->