<section id="Danhmuc">
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p><i class="fas fa-bars"></i>Tùy chọn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/Staff" style="color: Black;">Thông tin chi tiết</a> </li>
                                <li class="list-group-item"><a href="/ChangePassWord" >Đổi Mật Khẩu</a> </li>
                                <li class="list-group-item"><a href="/Sign_up_ThanhVien" >Đăng ký Thành viên</a> </li>
                                <li class="list-group-item"><a href="/NhapSach">Nhập sách</a> </li>
                                <li class="list-group-item"><a href="/XoaSach">Chỉnh sửa sách</a> </li>
                                <li class="list-group-item"><a href="/Account">Chỉnh sửa độc giả</a> </li>
                                <li class="list-group-item"><a href="/DangKyMuonSach">Đăng ký mượn sách</a> </li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" >   
                            <img src="/uploads{{image}}" style="width: 100%" alt="your image" />
                        </div>
                        <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;  " type="text" placeholder="Tên : {{hoten}}" readonly>
                            <input class="form-control"style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Ngày sinh: {{ngaysinh}}" readonly>
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Giới tính : {{gioitinh}}" readonly>
                        
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="SDT: {{sdt}}" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5" >   
                            
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="CMND: {{cmnd}}" readonly>
                            <input class="form-control"style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Dân Tộc: {{dantoc}}" readonly>
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Số tiền đặt cọc: {{sotiendatcoc}}" readonly>
    
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input class="form-control"style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Email: {{email}}" readonly>
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Người Lập(CMND):{{nguoilap}}" readonly>
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Ngày lập: {{ngaylap}}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input class="form-control" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Địa chỉ: {{diachi}}" readonly>
                        </div>      
                    </div>
                    
            </div>
        </div>
    </div>
    
</section>