<section id="Danhmuc">
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p><i class="fas fa-bars"></i>Tùy chọn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/Staff" >Thông tin chi tiết</a> </li>
                                <li class="list-group-item"><a href="/ChangePassWord" >Đổi Mật Khẩu</a> </li>
                                <li class="list-group-item"><a href="/Sign_up_ThanhVien" >Đăng ký Thành viên</a> </li>
                                <li class="list-group-item"><a href="/NhapSach">Nhập sách</a> </li>
                                <li class="list-group-item"><a href="/XoaSach">Chỉnh sửa sách</a> </li>
                                <li class="list-group-item"><a href="/Account" style="color: Black;">Chỉnh sửa độc giả</a> </li>
                                <li class="list-group-item"><a href="/DangKyMuonSach">Đăng ký mượn sách</a> </li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mt-5">
                <form action="http://localhost:5000/ChangeAccount" method="POST"   onsubmit="return confirm('Do you want to continue?');">
                    <input type="hidden" id="{{idDB}}" name="idDB" value="{{idDB}}">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" >   
                            <img src="/uploads{{image}}" style="width: 100%" alt="your image" />
                        </div>
                        <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-right: 40px ;font-size:20px;margin-top: 25px;">Họ tên</span>
                                </div>
                                <input class="form-control" name="hotenchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;  " type="text" placeholder="Tên" value="{{hoten}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="font-size:20px;margin-top: 25px;">Ngày sinh</span>
                                 </div>       
                            <input class="form-control" name="ngaysinhchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Ngày sinh" value="{{ngaysinh}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 25px ;font-size:20px;margin-top: 25px;">Giới tính</span>
                                 </div>       
                            <input class="form-control" name="gioitinhchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Giới tính " value="{{gioitinh}}" >
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 10px ;font-size:20px;margin-top: 25px;">Điện thoại</span>
                                 </div>       
                            <input class="form-control" name="sdtchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="SDT" value="{{sdt}}" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5" >   
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 25px ;font-size:20px;margin-top: 25px;">CMND</span>
                                 </div>       
                            
                            <input class="form-control" name="cmndchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="CMND " value="{{cmnd}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 10px ;font-size:20px;margin-top: 25px;">Dân Tộc</span>
                                 </div>     
                            <input class="form-control" name="dantocchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Dân Tộc " value="{{dantoc}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 15px ;font-size:20px;margin-top: 25px;">Đặt cọc</span>
                                 </div>      
                            <input class="form-control" name="sotiendatcocchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Số tiền đặt cọc" value="{{sotiendatcoc}} " >
                            </div>
    
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 45px ;font-size:20px;margin-top: 25px;">Email</span>
                                 </div>  
                            <input class="form-control" name="emailchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;" type="text" placeholder="Email" value="{{email}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 5px ;font-size:20px;margin-top: 25px;">Người lập</span>
                                 </div>  
                            <input class="form-control" name="nguoilapchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Người Lập(CMND)" value="{{nguoilap}}" >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 15px ;font-size:20px;margin-top: 25px;">Ngày lập</span>
                                 </div>  
                            <input class="form-control" name="ngaylapchange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Ngày lập" value="{{ngaylap}}" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right: 20px ;font-size:20px;margin-top: 25px;">Địa chỉ</span>
                                 </div>  
                            <input class="form-control" name="diachichange" style="padding: 25px 25px;font-size:20px;margin-top: 25px;"type="text" placeholder="Địa chỉ" value="{{diachi}}" >
                            </div>
                        </div>      
                    </div>
                    
                    <div class="row" style="   margin-top : 30px">
                        <div class="col-5" >  
                            <button type="submit" class="btn btn-warning  btn-lg btn-block">Chỉnh sửa</button>
                        </div>  
                        <div class="col-7">
                            
                            <button type="button" class="btn btn-warning btn-lg btn-block" onclick="window.location.href='/DeleteAccount/{{idDB}}'">Xóa Tài Khoản</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>