<section id="mainAdmin">
        <div class="container" style="margin-top : 50px">
            
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="row">
                        <div class="col">
                            <p><i class="fas fa-bars"></i>Tùy chọn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/Staff" >Thông tin chi tiết</a> </li>
                                <li class="list-group-item"><a href="/ChangePassWord" >Đổi Mật Khẩu</a> </li>
                                <li class="list-group-item"><a href="/Sign_up_ThanhVien" >Đăng ký Thành viên</a> </li>
                                <li class="list-group-item"><a href="/NhapSach">Nhập sách</a> </li>
                                <li class="list-group-item"><a href="/XoaSach" style="color: Black;">Chỉnh sửa sách</a> </li>
                                <li class="list-group-item"><a href="/Account" >Chỉnh sửa độc giả</a> </li>
                                <li class="list-group-item"><a href="/DangKyMuonSach">Đăng ký mượn sách</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <div class="mucTongQuan" style="margin-bottom: 25px">
                        <h3>Danh sách sách</h3>
                    </div>
                    <div class="row quanLyHienThiThongTin"  style="margin-bottom: 25px">
                        <form class="form-inline mx-auto" action="http://localhost:5000/XoaSach" method="POST">
                            <input class="form-control formSearch" type="text" id="tentacgiasearch" name="tentacgiasearch" placeholder="Họ và tên tác giả cần tìm" style="padding-right: 60px;">
                            <button class="btn btn-outline-success " type="submit" style="margin-left: 0px;">Tìm kiếm</button>
                        </form>
                    </div>  
                    {{#if message}}
                        <div class="alert {{messageclass}}"> {{message}}</div>
                    {{/if}}
                    <div class="wrap">
                        <table class="head">
                            <tbody>
                            <tr>
                                <th style=" width: 10%">Số thứ tự</th>
                                <th style=" width: 21%">Tên sách</th>
                                <th style="width:21%">Tên tác giả</th>
                                <th style="width:25%">Thể loại</th>
                                <th style="">Tùy chỉnh</th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="scroll-table">
                            <table class="table bangNhanVien">
                                <tbody>
                                    {{#each data}}
                                        <tr>
                                        <th style=" width: 9%">{{id}}</th>
                                        <td style=" width: 20%">{{tensach}}</td>
                                        <td style="width:20%">{{tentacgia}}</td>
                                        <td style="width:24%">{{theloai}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chinhSuaSach{{id}}">Chỉnh Sửa</button>
                                            <a class="btn btn-danger " href="/XoaSach/{{idDB}}" style="padding: 6px 30px;">   Xóa   </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Chi tiết sách-->
    {{#each data}}
    <div class="modal fade" id="chinhSuaSach{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Chỉnh sửa Sách</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <form class="formDkyTV" action="http://localhost:5000/editBookInStaffPage" method="POST"  onsubmit="return confirm('Do you want to continue?');" >
                <input type="hidden" id="{{idDB}}" name="idDB" value="{{idDB}}">

                <div class="form-group row">
                    <label for="etenSach" class="col-3 labelName">Tên sách</label>
                    <input type="text" class="form-control col-8" name="tensach" id="tensach" value="{{tensach}}" required>
                </div>

                <div class="form-group row">
                    <label for="etenTacGia" class="col-3 labelName">Tên tác giả</label>
                    <input type="text" class="form-control col-8" name="tentacgia" id="tentacgia" value="{{tentacgia}}" required>
                </div>

                <div class="form-group row">
                    <label for="etLoai" class="col-3 labelName">Thể loại</label>
                    <input type="text" class="form-control col-8" id="theloai" name="theloai" value="{{theloai}}" required>
                </div>

                <div class="form-group row">
                    <label for="esoLuong" class="col-3 labelName">Số lượng</label>
                    <input type="text" class="form-control col-8" id="soluong" name="soluong" value="{{soluong}}" required>
                </div>

                <div class="form-group row">
                    <label for="engayNhap" class="col-3 labelName">Ngày nhập</label>
                    <input type="text" class="form-control col-8" id="ngaynhap" name="ngaynhap" value="{{ngaynhap}}"  required>
                </div>

                <div class="form-group row">
                    <label for="emoTaSach" class="col-3 labelName">Mô tả</label>
                    <textarea class="form-control col-8" id="mota" name="mota" rows="5">{{mota}}</textarea>
                </div>

                <div class="form-group">
                    <label for="anh" class="col-3 labelName">Hình ảnh sách</label>
                    <div class="col-8">
                        <img id="anhbook{{id}}" alt="your image" width="100px" height="100px" src="/uploads{{image}}"/>
                        <input type="hidden"  name='ima' onchange="document.getElementById('anhbook{{id}}').src = window.URL.createObjectURL(this.files[0])"  value="{{image}}">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary float-right">Đồng ý</button>
                
            </form>


        </div>

        </div>
    </div>
    </div>
    {{/each}}
<!--End Chi tiết sách-->